body {
    background-color: rgb(138, 107, 189);
}

.mycss {
    color: rgb(110, 43, 43);
}

.navbar a {
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #2ccbb4;
}
.flashes {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border: 2px solid orange;
    background-color: yellow;
    color: black;
}