{% extends "base.html" %}

{% block rowOneContent %}
{% endblock %}

{% block rowTwoColOneContent %}

{% endblock %}

{% block rowTwoColTwoContent %}
<div class="container-fluid">
    {% for message in messages %}
      <div class="whitecss">
        <div class="col-3"> {{ message.name }}</div>
        <div class="col-3"> {{ message.email }}</div>
        <div class="col-3"> {{ message.message }}</div>
        <div class="col-3"> {{ message.dateSubmitted }}</div> 
      </div>
    {% endfor %}
</div>
{% endblock %}

{% block rowThreeContent %}
</p class="whitecss">Copyright 2024</p>
{% endblock %}